# Python / DS
__pycache__/
.ipynb_checkpoints/
*.pyc

# Environnements
mon_env/
.venv/
venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
.env
data/

# Données brutes lourdes
data/
*.csv
*.parquet
*.zip
*.gz
*.h5
*.db

# Autres
.DS_Store
